<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" value="{{course.title}}" required>
    <label for="title">Course Name</label>
    <span class="helper-text" data-error="Wrong name" >name</span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" value="{{course.price}}" required>
    <label for="price">Price</label>
    <span class="helper-text" data-error="Wrong price">price</span>
  </div>

  <div class="input-field">
    <input id="img" name="img" value="{{course.img}}" type="text" class="validate" required>
    <label for="img">URL img</label>
    <span class="helper-text" data-error="Wrong img">img</span>
  </div>

  <input type="hidden" name="id" value="{{course.ids}}">
  <button class="btn btn-primary">
    Edit
  </button>
</form>